name: Build and deploy ASP.Net Core app to Azure Web App - YouView

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet publish
        # We change the output to a simple folder named 'publish' in your workspace
        run: dotnet publish -c Release -o ${{ github.workspace }}/publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ github.workspace }}/publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          # This extracts your files into a folder named 'myapp'
          path: myapp

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2C5BEF9A31FC4BDE843512943292AA7B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_BFAA19C3C12B4928AD0F46593A1EE677 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_DA96BD0957854072AC4F415BD3FC9CEF }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'YouView'
          slot-name: 'Production'
          # We tell Azure to look inside the 'myapp' folder for the files
          package: myapp